[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "dependencies/Boxer"]
	path = dependencies/Boxer
	url = https://github.com/aaronmjacobs/Boxer.git
[submodule "dependencies/ImGuiColorTextEdit"]
	path = dependencies/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
